@charset "utf-8";


        div.quadrado{
            border: 1px solid black;
            display: inline-block;
            border-radius: 10px;
            background-color: lightgray;
            width: 200px;
            height: 300px;
        }

        div#q1 {
            background-color: blue;
        }

        div#q2 {
            background-image: linear-gradient(to bottom, yellow, red);

        }

        div#q3 {
            background-image: url(/MODULO3/ex001/imagens/pattern003.png);
            
        }

    body{
        background-image: url(/MODULO3/ex001/imagens/wallpaper002.jpg);
    }